*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rspec_status

# YARD artifacts
.yardoc
_yardoc
doc/

# Bundler artifacts
/Gemfile.lock
/coverage/
/doc/
*.bundle
*.so
*.o
*.a
mkmf.log
